<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="telerik" value="https://nuget.telerik.com/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <telerik>
      <add key="Username" value="your-telerik-username" />
      <add key="ClearTextPassword" value="your-telerik-api-key" />
    </telerik>
  </packageSourceCredentials>
</configuration>
